{% extends "layout.html" %}
{% block title %}
Nuestro trabajo{% endblock %}
{% block content %}
<h1>Equipo de Desarrollo</h1>

<div class="container">
    <div class="card">
        <h2>Pedro Pérez Giménez</h2>
        <p><strong>Rol: Jefe de grupo, desarrollo </strong></p>
        <p><strong>GitHub: PedroP90</strong></p>
        <p><strong>Tareas Realizadas:</strong></p>
        <ul class="task-list">
            <li class="task-item"><strong>Tarea 1: Cifrado simétrico - AES local </strong></li>
            <li class="task-item">
                <strong>Fecha de Inicio: 06/11/2023</strong> 
            </li>
            <li class="task-item">
            </li>
            <li class="task-item">
                <strong>Estado:</strong> Completado
            </li>
        </ul>
        <ul class="task-list">
            <li class="task-item"><strong>Tarea 2: Conexión con Samba</strong></li>
            <li class="task-item">
                <strong>Fecha de Inicio: 01/12/2023</strong> 
            </li>
            <li class="task-item"> 
            </li>
            <li class="task-item">
                <strong>Estado:</strong> Completado
            </li>
        </ul>
    </div>

    <div class="card">
        <h2>Aurora López Fuentes</h2>
        <p><strong>Rol: Diseño y desarrollo </strong></p>
        <p><strong>GitHub: AuroraLopez</strong></p>
        <p><strong>Tareas Realizadas:</strong></p>
        <ul class="task-list">
            <li class="task-item"><strong>Tarea 1: Cifrado Simétrico - 3DES Local </strong></li>
            <li class="task-item">
                <strong>Fecha de Inicio: 06/11/2023</strong> 
            </li>
            <li class="task-item">
            </li>
            <li class="task-item">
                <strong>Estado:</strong> Completado
            </li>
        </ul>
        <ul class="task-list">
            <li class="task-item"><strong>Tarea 2: CSS </strong></li>
            <li class="task-item">
                <strong>Fecha de Inicio: 10/12/2023</strong> 
            </li>
            <li class="task-item">
            </li>
            <li class="task-item">
                <strong>Estado:</strong> Completado
            </li>
        </ul>
    </div>

    <div class="card">
        <h2>Víctor Álvarez Fuentes</h2>
        <p><strong>Rol: Desarrollo</strong></p>
        <p><strong>GitHub: valvfue</strong></p>
        <p><strong>Tareas Realizadas: </strong></p>
        <ul class="task-list">
            <li class="task-item"><strong>Tarea 1: Cifrado Asimétrico Local completo </strong></li>
            <li class="task-item">
                <strong>Fecha de Inicio: 06/11/2023</strong> 
            </li>
            <li class="task-item">
            </li>
            <li class="task-item">
                <strong>Estado:</strong> Completado
            </li>
        </ul>
    </div>
</div>

    {% endblock %}