{% extends "layout.html" %}
{% block title %}
C. Asimétrico
{% endblock %}
{% block content %}
<h1>Encriptar y desencriptar archivos con RSA</h1>

<h2>Encriptar Mensaje</h2>
<form method="post">
    <label for="message">Mensaje:</label><br>
    <input type="text" id="message" name="message"><br><br>
    <label for="public_key_selection">Seleccionar Clave Pública:</label><br>
    <select id="public_key_selection" name="public_key_selection">
        {% for key in listado_claves_asimetrico %}
            <option value="{{ key }}">{{ key }}</option>
        {% endfor %}
    </select><br><br>
    <input type="submit" value="Encriptar" name="encrypt">
    <input type="submit" value="Generar Claves" name="generate_keys">
</form>

{% if encrypted_message %}
    <h2>Mensaje Encriptado:</h2>
    <p>{{ encrypted_message }}</p>
{% endif %}

<h2>Desencriptar Mensaje</h2>
<form method="post">
    <label for="encrypted_message">Mensaje Encriptado:</label><br>
    <input type="text" id="encrypted_message" name="encrypted_message"><br><br>
    <input type="submit" value="Desencriptado" name="decrypt">
</form>

{% if decrypted_message %}
    <h2>Mensaje Desencriptado:</h2>
    <p>{{ decrypted_message }}</p>
{% endif %}
{% endblock %}