{% extends "layout.html" %}
{% block title %}
C. Asimétrico
{% endblock %}
{% block content %}
<h2>Encriptar archivo</h2>

<!-- Botón para generar claves -->
<form action="/casimetrico" method="post">
    <input type="hidden" name="operation" value="generate_keys">
    <button type="submit">Generar claves</button>
</form>

<!-- Desplegable para seleccionar una clave -->
{% if keys %}
    <select name="key">
    {% for key in keys %}
        <option value="{{ key }}">{{ key }}</option>
    {% endfor %}
    </select>
{% endif %}

<!-- Botón para encriptar un archivo -->
<form action="/casimetrico" method="post" enctype="multipart/form-data">
    <input type="hidden" name="operation" value="encrypt_file">
    <input type="file" name="file">
    <button type="submit">Encriptar archivo</button>
</form>

<select name="file">
    {% for file in files %}
        <option value="{{ file }}">{{ file }}</option>
    {% endfor %}
</select>

<h2>Desencriptar archivo</h2>

<!-- Formulario para seleccionar el archivo que se desencriptará y la clave pública -->
<form action="/casimetrico" method="post" enctype="multipart/form-data">
    <input type="hidden" name="operation" value="decrypt_file">
    <!-- Desplegable para seleccionar la clave pública -->
    <select name="key">
        {% for key in keys %}
            <option value="{{ key }}">{{ key }}</option>
        {% endfor %}
    </select>
    <!-- Entrada de archivo para seleccionar el archivo que se desencriptará -->
    <input type="file" name="file">
    <button type="submit">Desencriptar archivo</button>
</form>

<!-- Desplegable para mostrar el nombre del archivo que se desencriptó -->
{% if decrypted_files %}
    <select name="decrypted_file">
    {% for file in decrypted_files %}
        <option value="{{ file }}">{{ file }}</option>
    {% endfor %}
    </select>
{% endif %}

{% endblock %}