{% extends "layout.html" %}
{% block title %}
C. Híbrido
{% endblock %}
{% block content %}
<h1>Cifrado Híbrido</h1>

    <form action="/chibrido" method="post" enctype="multipart/form-data">
        <input type="file" name="archivos_hibrido" id="seleccion"><br><br>
        <label for="archivo_nombre_hibrido">Nombre del Archivo:</label>
        <input type="text" id="archivo_nombre_hibrido" name="archivo_nombre_hibrido" required><br><br>
        <label for="key_aes">Clave AES:</label>
        <input type="text" id="key_hibrido" name="key_hibrido"><br><br>
        <input type="hidden" name="mode_hibrido" value="encrypt_aes">
        <input type="submit" value="Encriptar" id="boton"><br><br>
    </form>     

    <!-- <label for="file">Seleccionar Archivo:</label>
    <input type="file" name="file" accept=".txt, .pdf, .doc, .docx">
    <br>

    <label for="private_key">Seleccionar Clave Privada:</label>
    <select name="private_key">
        {% for key in keys %}
            <option value="{{ key }}">{{ key }}</option>
        {% endfor %}
    </select>
    <br> -->

    <!-- <input type="submit" value="Enviar"> -->
<!-- </form> -->

<h2>Archivos</h2>
<ul>
    {% for file in files %}
        <li>{{ file }}</li>
    {% endfor %}
</ul>
{% endblock %}