{% extends "layout.html" %}
{% block title %}
C. Simétrico
{% endblock %}
{% block content %}
<h1>Encriptar y desencriptar mensaje con AES</h1>

    <h2>Encriptar Mensaje</h2>
    <form method="post" enctype="multipart/form-data">
        <label for="message">Mensaje:</label><br>
        <input type="text" id="message" name="message"><br><br>
        <input type="hidden" name="mode" value="encrypt">
        <!-- <div class="custom-file">
            <input type="file" name="archivo" class="custom-file-input" required>
            <label class="custom-file-label" for="validatedCustomFile">Seleccionar Archivo...</label>
          </div> -->
<!--     
        <div class="form-group mb-5 text-center mt-5">
            <button type="submit" class="btn btn-primary btn-sm">Enviar Archivo</button>
        </div> -->
        <input type="hidden" name="mode" value="encrypt">
        <input type="submit" value="Encriptar">
    </form>

    {% if encrypted_message %}
        <p>Mensaje Encriptado: {{ encrypted_message }}</p>
        <p>Clave generada: {{ clave }}</p>
    {% endif %}

    <h2>Desencriptar Mensaje</h2>
    <form method="post">
        <label for="encrypted_message">Mensaje Encriptado:</label><br>
        <input type="text" id="encrypted_message" name="message"><br><br>
        <label for="key_decrypt">Clave:</label><br>
        <input type="text" id="key_decrypt" name="key"><br><br>  <!-- Cambia 'name' a 'key' -->
        <input type="hidden" name="mode" value="decrypt">
        <input type="submit" value="Desencriptar">
    </form>
    
    {% if decrypted_message %}
        <p>Mensaje desencriptado: {{ decrypted_message }}</p>
    {% endif %}
{% endblock %}