{% extends "layout.html" %}
{% block title %}
C. Simétrico
{% endblock %}
{% block content %}
<h1>Encriptar y desencriptar mensaje con AES</h1>

    <h2>Encriptar Mensaje</h2>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="mode" value="encrypt">
        <div class="custom-file">
            <input type="file" name="archivo" class="custom-file-input" required>
            <label class="custom-file-label" for="validatedCustomFile"></label>
        </div>
    
        <div class="form-group mb-5 text-center mt-5">
            <button type="submit" class="btn btn-primary btn-sm">Enviar Archivo</button>
        </div>
        <input type="hidden" name="mode" value="encrypt">
        <input type="submit" value="Encriptar">
    </form>

    <h2>Desencriptar Mensaje</h2>
    <form method="post">
        <form method="post" action="/">
            <label for="archivos">Selecciona un archivo:</label>
            <select name="archivo" id="archivos">
                {% for archivo in archivos %}
                    <option value="{{ archivo }}">{{ archivo }}</option>
                {% endfor %}
            </select>
        </form>  
        <form method="post" action="/">
            <label for="claves">Selecciona una clave:</label>
            <select name="clave" id="claves">
                {% for clave in claves %}
                    <option value="{{ clave }}">{{ clave }}</option>
                {% endfor %}
            </select>
        </form>
        <input type="hidden" name="mode" value="decrypt">
        <input type="submit" value="Desencriptar">
    </form>
    
    {% if decrypted_message %}
        <p>Mensaje desencriptado: {{ decrypted_message }}</p>
    {% endif %}
{% endblock %}